<div class="container-md px-5">
  <%= form_with(model: article, class: "needs-validation", novalidate: true) do |form| %>
    <% if article.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control", placeholder: "Enter title" %>
    </div>

    <div class="mb-3">
      <%= form.label :text, "Content", class: "form-label" %>
      <%= form.rich_text_area :text, class: "form-control trix-content", style: "min-height: 300px;" %>
    </div>

    <div class="text-center">
      <%= form.submit "Save Article", class: "btn btn-primary btn-fixed-width" %>
    </div>
  <% end %>
</div>
