<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App1" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "count", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "articles", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>


<%= render 'layouts/navbar' %>

<div class="container p-3 mb-2 bg-primary text-white">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
</div>

    <%= yield %>
  </body>
</html>
